html,
body, input {
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
}

#map {
  height: 100vh;
  width: 70%;
  position: absolute;
  top : 0;
  right: 0;
}

.ui-datepicker-trigger{
  left: 30px;
  width: 30px;
  position: relative;
}

#info {
  width: 30%;
}

.livraison{
  border-radius: 5px;
  margin: 20px auto 0;
  box-shadow: -4px 5px 15px 0px rgba(0, 0, 0, 0.75);
  padding: 6px 13px;
  width: 80%;
  display: block;
  background-color: rgba(145, 206, 241, 0.5);
}

.livraison p{
  line-height: 15px
}

details summary span {
  display: inline-block;
  width: 1vw;
  height: 1vw;
  border: 0.2vw solid black;
  margin-left: 1vw;
  vertical-align: middle;
  background-color: transparent;
}

details{
  border-bottom: 1px solid;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(145, 206, 241, 0.2);
  border: none;
}

#datepicker{
  display: none !important;
}

#liste {
  width: 80%;
  overflow: auto;
  margin: auto;
  display: block;
  height: 84vh;
}

.ui-widget.ui-widget-content {
  margin: 15px auto;
}

.element-liste-livraisons {
  margin: 20px auto;
  box-shadow: -8px 10px 25px 0px rgba(0, 0, 0, 0.75);
  padding: 2%;
  width: 60%;
  display: block;
  cursor: pointer;
}

.ui-helper-clearfix::before,
.ui-helper-clearfix::after {
  display: unset !important;
}

.btn_trajet {
  display: block;
  margin: auto;
}

#search {
  margin-top: 15px;
}

#filter{
  display: flex;
  margin: 30px auto;
}

.arret{
  left:50px; 
  position:relative; 
}

details{
  border-radius: 2px;
}

summary{
  cursor: pointer;
}

/**********************INPUT**********************/
/* form starting stylings ------------------------------- */
.group {
  position: relative;
  display: block;
  margin: 10px auto 0;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 285px;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}

/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label {
  top: -20px;
  font-size: 14px;
  color: rgb(145, 206, 241);
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 280px;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: rgb(145, 206, 241);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

/****************BOUTON***********************/
.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px 0px;
  width: 240px;
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 11px;
  font-weight: 400;
  line-height: 30px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

.effect04 {
  color: #000;
  outline: solid 2px #000;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
  padding: 0;
}

.effect04::before,
.effect04 span {
  margin: 0 auto;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  transition-duration: 0.4s;
}

.effect04:hover {
  background-color: #000;
}

.effect04:hover span {
  -webkit-transform: translateY(-400%) scale(-0.1, 20);
  transform: translateY(-400%) scale(-0.1, 20);
}

.effect04::before {
  content: attr(data-sm-link-text);
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transform: translateY(500%) scale(-0.1, 20);
  transform: translateY(500%) scale(-0.1, 20);
}

.effect04:hover::before {
  letter-spacing: 0.05em;
  -webkit-transform: translateY(0) scale(1, 1);
  transform: translateY(0) scale(1, 1);
}
